<h1>Tickets</h1></br>
<div class="container">
  <table border="1">
    <tr>
    <th>RequestNumber</th>
    <th>SequenceNumber</th>
    <th>DateTimes</th>
    <th>ServiceArea</th>
    <th>DigsiteInfo</th>
    <th>Excavators</th>
    </tr>
   <tbody>
  <% @tickets.each do|ticket| %>
   <tr>
     <td> <%= ticket.RequestNumber %> </td>
     <td> <%= ticket.SequenceNumber %> </td>
     <td> <%= ticket.DateTimes.values.first %> </td>
     <td> <%= ticket.ServiceArea.values.first %> </td>
     <td> <%= ticket.DigsiteInfo.values.first %> </td>
     <td> <%= link_to 'Excavators', ticket_path(ticket) %> </td>

   </tr>
  <% end %>
   </tbody>
  </table>
</div>